# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.ipynb_checkpoints/

# VS Code / editor
.vscode/
*.code-workspace

# Data and model outputs
data/
models/
backup_scripts/

# Generated artifacts
gradcam_result.png
grafik_distribusi_data.png

# Python packaging
*.egg-info/
.dist-info/
build/

# Logs and temporary files
*.log
*.tmp
*.bak

# System files
Thumbs.db
.DS_Store
